examples/teknoir-cloud-storage-example.json
[{"id":"29752fd.b3b4fd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"132afd97.e9a2d2","type":"cloud-storage-read","z":"29752fd.b3b4fd","filename":"/","list":true,"name":"list files in /","x":170,"y":220,"wires":[["8fdd0615.9e6798"]]},{"id":"e5b14ee2.8bf77","type":"debug","z":"29752fd.b3b4fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":220,"wires":[]},{"id":"d05c032c.51c46","type":"inject","z":"29752fd.b3b4fd","name":"just trigger the flow","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["132afd97.e9a2d2"]]},{"id":"34751003.fc19","type":"cloud-storage-write","z":"29752fd.b3b4fd","keyFilename":"","filename":"/test.txt","contentType":"","name":"write /test.txt","x":750,"y":80,"wires":[[]]},{"id":"8706c636.6b2638","type":"inject","z":"29752fd.b3b4fd","name":"create file content","topic":"","payload":"my_test_string","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["34751003.fc19"]]},{"id":"8fdd0615.9e6798","type":"cloud-storage-read","z":"29752fd.b3b4fd","filename":"","list":false,"name":"read all listed files","x":370,"y":220,"wires":[["51a99f1.ab3076"]]},{"id":"51a99f1.ab3076","type":"function","z":"29752fd.b3b4fd","name":"to string","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["e5b14ee2.8bf77"]]}]