examples/teknoir-ingest-example.json
[{"id":"29752fd.b3b4fd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cddd75e.66f8f88","type":"ingest-state","z":"29752fd.b3b4fd","name":"","subscriptionSuffix":"-state","assumeJSON":true,"backpressure":true,"x":150,"y":140,"wires":[["4f1a4dab.02b5e4"]]},{"id":"d09a4df0.9616e","type":"debug","z":"29752fd.b3b4fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":460,"wires":[]},{"id":"cb667cf7.66b99","type":"ack-ingest","z":"29752fd.b3b4fd","name":"","x":550,"y":360,"wires":[["d09a4df0.9616e"]]},{"id":"4f1a4dab.02b5e4","type":"function","z":"29752fd.b3b4fd","name":"do some heavy computing","func":"console.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["cb667cf7.66b99"]]}]